
<div class="conten">

    <section class="sectioncomidaRapida">
      <span class="sectionTitle"> Almuersos</span>
      <div class="contenCard">
        <mat-card>
          <img class="image" src="assets/arozchaufa.webp" alt="completos" />
          <mat-card-content class="content">
            <h4 class="title">Aroz chaufa</h4>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur a Rem ut,
            </p>
            <strong> $3.000</strong>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img class="image" src="assets/seviche.jpg" alt="completos" />
          <mat-card-content class="content">
            <h4 class="title">Seviche</h4>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur a Rem ut,
            </p>
            <strong> $3.000</strong>
          </mat-card-content>
        </mat-card>
        
        <mat-card>
          <img class="image" src="assets/arozchaufa.webp" alt="completos" />
          <mat-card-content class="content">
            <h4 class="title">Aroz chaufa</h4>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur a Rem ut,
            </p>
            <strong> $3.000</strong>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img class="image" src="assets/seviche.jpg" alt="completos" />
          <mat-card-content class="content">
            <h4 class="title">Seviche</h4>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur a Rem ut,
            </p>
            <strong> $3.000</strong>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img class="image" src="assets/seviche.jpg" alt="completos" />
          <mat-card-content class="content">
            <h4 class="title">Seviche</h4>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur a Rem ut,
            </p>
            <strong> $3.000</strong>
          </mat-card-content>
        </mat-card>
        
        
      </div>
    </section>
    
    <section class="sectioncomidaRapida">
      <span class="sectionTitle" style="margin: 5px;"> Comida rapida</span>
      <div class="contenCard">
        <mat-card>
          <img class="image" src="assets/completos.jpg" alt="completos" />
          <mat-card-content class="content">
            <h4 class="title">Completo</h4>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur a Rem ut,
            </p>
            <strong> $3.000</strong>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img class="image" src="assets/Salchipapa.png" alt="completos" />
          <mat-card-content class="content">
            <h4 class="title">Salchipapa</h4>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur a Rem ut,
            </p>
            <strong> $3.000</strong>
          </mat-card-content>
        </mat-card>
        
        
      </div>
    </section>
</div>
