<div class="conten">
  <div class="header">
    <h1>Card Food</h1>

    <div class="contenSearch">
      <input class="Search" placeholder="shearch.." type="text" />
    </div>

    <div class="icon">
      <button
        mat-mini-fab
        aria-label="Example icon button with a menu icon"
        (click)="toggleCarShop()"
      >
        <mat-icon
          aria-hidden="false"
          matBadge="15"
          aria-label="Example home icon"
          fontIcon=""
        >
          shopping_cart
        </mat-icon>
      </button>

      <mat-icon class="menu" [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <ul>
          <li><a routerLink="" routerLinkActive="active">inicio</a></li>
          <li>
            <a routerLink="/comfim" routerLinkActive="active"
              >comfirmar pedido</a
            >
          </li>
          <li>
            <a routerLink="/addProduc" routerLinkActive="active"
              >agregar producto</a
            >
          </li>
          <li>
            <a routerLink="/listPedidos" routerLinkActive="active"
              >lista de pedidos</a
            >
          </li>
        </ul>
      </mat-menu>

      <!-- Solo muestra el carShop cuando 'showCarShop' es verdadero -->
      <div *ngIf="showCarShop" class="carShop">
        <h3 class="title">Mi pedido</h3>
        <div>
          <div class="contenprecio">
            <div class="contenAction">
              <p>Nombre del producto</p>
              <div class="counter">
                <button class="counter-btn" (click)="decrement()">-</button>
                <input
                  class="counter-input"
                  matInput
                  type="number"
                  [(ngModel)]="value"
                  min="1"
                  max="20"
                />
                <button class="counter-btn" (click)="increment()">+</button>
              </div>
            </div>
            <div class="contenAction">
              <button mat-button [matMenuTriggerFor]="menu">Menu</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item color="primary">Editar ✏️</button>
                <button mat-menu-item color="warn">Eliminar 🗑️</button>
              </mat-menu>
            </div>
          </div>
          <div class="Preciosection">
            <h4 class="title">Resumen</h4>

            <div class="contenprecio">
              <p>Subtotal</p>
              <span>$5000</span>
            </div>
            <div class="contenprecio">
              <p>Total</p>
              <span>$5000</span>
            </div>
          </div>
        </div>

        <button mat-raised-button color="primary">Continuar</button>
      </div>
    </div>
  </div>
</div>
