<!-- descripcion.component.html -->
<div class="background">
  <div class="container">
    <div class="detalleCompra">
      <p>Precio total: {{ total | currency }}</p>
      <button mat-button (click)="realizarPedido()">Realizar pedido</button>
    </div>

    <div *ngFor="let producto of carrito" class="cuadro-contenedor">
      <div class="product-entry">
        <div class="image-container">
          <!-- Aquí puedes reemplazar con la imagen dinámica de cada producto -->
          <img src={{producto.imagen}} alt="Producto" class="product-image" />
        </div>

        <div class="product-form">
          <label for="nombre-producto">Nombre producto</label>
          <input type="text" id="nombre-producto" [(ngModel)]="producto.nombre" placeholder="Nombre del producto" />

          <label for="descripcion-producto">Descripción</label>
          <textarea id="descripcion-producto" rows="4" [(ngModel)]="producto.descripcion"></textarea>

          <div class="detalleProducto">
            <p>Precio: {{ producto.precio | currency }}</p>
            <p>Cantidad: {{ producto.cantidad }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
