.contenCard {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    width: 100%;
}

mat-card {
    display: flex;
    align-items: center; /* Alinea el contenido verticalmente al centro */
    flex-direction: row; /* Configura el contenido en una fila */
    justify-content: space-between;  
    width: 100%;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}
mat-card img {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    object-fit: cover;
}

mat-card-content {
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro del contenido estén en columna */
    align-items: flex-start; /* Alinea el contenido hacia la izquierda */
    justify-content: center; /* Centra el contenido verticalmente */
    flex-grow: 1;
    margin-left: 16px; /* Agrega un margen entre la imagen y el contenido */
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.description {
    margin-bottom: 12px;
    font-size: 0.9rem;
    color: #6c757d;
}

.btn {
    align-self: center; /* Centra el botón horizontalmente */
    margin-top: auto; /* Mueve el botón al final del contenido */
    padding: 6px 12px;
    border: 1px solid #6c757d;
    background-color: #6c63ff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
}



.sectionPedidos{
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

}

.sectionTitle{
    display: block;
    font-size: 19px;
    font-weight: 600;
    margin: 1rem  0 !important;


}
.conten{
    margin: 3rem;

}
.contenedorFormulario {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .pedido {
    margin-top: 16px;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }

  .background {
    background-color: floralwhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}