<div class="background">
<div class="conten">

    <section class="sectionPedidos">
        <span class="sectionTitle">Pedidos</span>
        <div class="contenCard">
            <mat-card>
                <img class="image" src="assets/completos.jpg" alt="completos"/>
                <mat-card-content class="content">
                    <h4 class="title">Completo Italiano</h4>
                    <p class="description">
                        Pan hecho de manera artesanal de elaboracion propia
                        <br>con una vianesa artesanal XL
                        <br>palta de la mejor cosecha de la region
                        <br>tomate de nuestros cultivos de confianza
                        <br>la mejor mayonesa de chile elaborada
                        <br>con gallinas felices de nuestros campos aledaños
                    </p>
                    <button class="btn btn-outline-secondary">Entregado</button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="contenedorFormulario">
            <form>
              <label for="mesa">Mesa</label>
              <input id="mesa" type="number" value="2" disabled>

              <label for="nombre">Nombre cliente</label>
              <input id="nombre" type="text" value="LOUVENDY" disabled>

              <div class="pedido">
                <p>Pedido:</p>
                <input type="checkbox" id="hamburguesa">
                <label for="hamburguesa">Hamburguesa</label><br>

                <input type="checkbox" id="completo" checked>
                <label for="completo">Completo</label><br>

                <input type="checkbox" id="papitas">
                <label for="papitas">Papitas</label>
              </div>
            </form>
          </div>
        <!-- <div class="contenCard">
            <mat-card>
                <img class="image" src="assets/Salchipapa.png" alt="Salchipapa"/>
                <mat-card-content class="content">
                    <h4 class="title">Salchipapa</h4>
                    <p class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                </mat-card-content>
                <img class="image" src="assets/completos.jpg" alt="completos"/><mat-card-content class="content">
                    <h4 class="title">Completo Italiano</h4>
                    <p class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <button class="btn btn-outline-secondary">Entregado</button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="contenedorFormulario">
            <form>
              <label for="mesa">Mesa</label>
              <input id="mesa" type="number" value="6" disabled>

              <label for="nombre">Nombre cliente</label>
              <input id="nombre" type="text" value="NICOLAS" disabled>

              <div class="pedido">
                <p>Pedido:</p>
                <input type="checkbox" id="hamburguesa">
                <label for="hamburguesa">Hamburguesa</label><br>

                <input type="checkbox" id="completo"checked>
                <label for="completo">Completo</label><br>

                <input type="checkbox" id="Salchipapa"checked>
                <label for="papitas">Salchipapa</label>
              </div>
            </form>
          </div>
        <div class="contenCard">
            <mat-card>
                <img class="image" src="assets/arozchaufa.webp" alt="Arroz"/>
                <mat-card-content class="content">
                    <h4 class="title">Arroz Chaufa</h4>
                    <p class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <button class="btn btn-outline-secondary">Entregado</button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="contenedorFormulario">
            <form>
              <label for="mesa">Mesa</label>
              <input id="mesa" type="number" value="8" disabled>

              <label for="nombre">Nombre cliente</label>
              <input id="nombre" type="text" value="TAMARA" disabled>

              <div class="pedido">
                <p>Pedido:</p>
                <input type="checkbox" id="hamburguesa">
                <label for="hamburguesa">Hamburguesa</label><br>

                <input type="checkbox" id="completo">
                <label for="completo">Completo</label><br>

                <input type="checkbox" id="Arroz Chaufa"checked>
                <label for="papitas">Arroz Chaufa</label>
              </div>
            </form>
          </div>-->
    </section> 







</div>
</div>
