<div class="background">
  <div class="cuadro">
    <h3>Sube la foto del producto</h3>
    <div class="form-container">
      <!-- Columna de la imagen -->
      <div class="column-left">
        <button mat-raised-button color="primary" (click)="fileInput.click()" [ngClass]="buttonClass">Subir foto</button>
        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        <button mat-raised-button color="warn" (click)="onClearImage()" [ngClass]="buttonClass">Eliminar foto</button>
        <div *ngIf="imagePreview">
          <p>Vista previa:</p>
          <img [src]="imagePreview" alt="Vista previa de la imagen" class="image-preview">
        </div>
      </div>

      <!-- Columna de los inputs -->
      <div class="column-right">
        <mat-form-field>
          <mat-label>Nombre producto</mat-label>
          <input matInput placeholder="Ej: pizza veggi">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Ej: Contiene: palta..."></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Precio</mat-label>
          <input matInput placeholder="$$$">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categoría</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button>Enviar</button>
      </div>
    </div>
  </div>
</div>
